@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{background-color: #F3F5F7;}
li, a, p, span, h1, h2, h3, h4, h5{font-family: 'Noto Sans KR', sans-serif;}

/* 기본 셋팅 */
ul{list-style: none;}
li, a, span{text-decoration: none;}


/* 홈 영역 */
.home-top-kakaologo{position: relative;}
.home-top-kakaologo > img,
.home-top-kakaologo > h2{position: absolute;}
.home-top-kakaologo > h2{
    font-size: 18px; 
    font-weight: 700; 
    top: -6px; 
    left: 66px;
}

.top-bar-container > li:nth-child(1)::after{
    content:"9+";
    background-color: #E83A31;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 500;
    padding: 2px 7px;
    position: relative;
    top: -5px;
    left: 4px;
    color: white;
}

main{margin-top: 50px;}
.unicef-box{
    width: 100%; 
    height: 120px; 
    border-radius: 10px; 
    background-color: #EDFAFE;
    margin-top: 40px;
}
.unicef-box > a{
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    position: relative;
    top: 22px;
}
.unicef-box > a > span{font-size: 13px; margin-left: 18px;}
.unicef-box > a > .icon-box{
    width: 76px;
    height: 76px; 
    border-radius: 20px; 
    background-color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 18px;
}

.bot-content{
    position: relative;
    left: -10%;
    width: 121%;
    margin-top: 30px;  
    height: 376px; 
    background-color: #F3F5F7;
}
.bot-content-inner{width: 99%; padding: 0 8%;}
.bot-content-inner > p{position: relative; top: 14px;}
.bot-content-inner > p > button {
    margin-top: 18px;
    width: 100%;
    height: 44px; 
    border-radius: 10px; 
    background-color: #6649F5;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bot-content-inner > p > button > a{color: white; font-size: 13px; float: left; margin: 0 0 0 5%;}
.bot-content-inner > p > button > img{
    width: 10px;
    height: 10px;
    margin-right: 14px;
}
.bot-content-inner > h2{font-size: 18px; font-weight: 700px; margin: 40px 0 30px 0;}
.bot-content-inner > h2 > span{color: #84878A;}

.leftgroup-rightNFT{
    width: 100%; 
    height: 216px; 
    background-color: white; 
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.left, .right{width: 50%;}
.left > a > p,
.right > a > p{font-size: 13px; font-weight: 700; margin-top: 20px; margin-left: 14px;}
.left > a > span,
.right > a > span{font-size: 12px; color: #77797A; margin-left: 14px;}


#doc-bar{
    width: 100%; 
    height: 134px; 
    border-radius: 10px; 
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);
}
.doc-bar-inner{width: 100%; height: 100%; padding: 0 30px;}
.home-top-btn{width: 100%; height: 38px;}
.home-top-btn > h3{text-align: left; margin-right: 20px; float: left; padding: 1% 0;}
.home-top-btn > h3 > a{font-size: 18px;}
.home-top-btn > h3:nth-child(1){border-top: 6px solid black;}
.home-top-btn > h3:nth-child(2),
.home-top-btn > h3:nth-child(3){margin-top: 6px;}
.home-bot-btn{width: 100%; margin-top: 30px;}
.home-bot-btn{width: 100%;}
.home-bot-menu{display: flex; align-items: center; justify-content: center;}
.home-bot-menu > li{ display: inline-block; padding: 2% 6%;}
.home-bot-menu > li > a{text-align: center;}
.home-bot-menu > li > a > p{margin-bottom: 4px;}
.home-bot-menu > li > a > p > span{text-align: center; font-size: 13px; font-weight: 500;}


/*unicef page*/
main > #blue-dots{position: relative; z-index: 1;}
.blue{font-size: 13px; color: #39A6D9; font-weight: 700; margin: 20px 0;}
.blue-bg-continer{ 
    position: relative;
    top: -20px;
    left: -30px;
    width: 121%; 
    height: 376px; 
    background-color: #F3F5F7;
}
.blue-bg-continer-inner{width: 99%; padding: 0 30px;}
.blue-bg-continer-inner > p{
    width: 108%; 
    position: relative; 
    top: 30px; 
    left: -8px; 
    font-size: 12px; 
    text-align: center;
    line-height: 18px;
}
#blue-dots{
    width: 100%;
    height: 145px; 
    background: url(../asset/img/contents/unicef-people-image.png) no-repeat center center; 
    display: inline-block;
}
.modal-container{
    width: 100%;
}
.modal-container > .donation-btn-area{
    margin-top: 82px;
    width: 100%; 
    position: relative;
}
.donation-btn-area > .modal-open-bgarea{
    width: 80%;
    height: 100vh;
    padding: 0 8%;
    background-color: white;
    border-radius: 10px 10px 0 0;
    text-align: center;
    margin: 0 auto;
}
.donation-btn-area > .modal-open-bgarea > a{padding: 10px 20px; position: relative; top: 20px; font-size: 20px; font-weight: 700; text-align: center;}



#modal {
    content: "안녕";
    background: #16181B;
    width: 100%;
    height: 100%;
    transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
    z-index: 200;
    position: relative;
    top: 50%;
}
/* .modal > .modal-inner > .header {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #2A2A2A;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal > .modal-inner > .header > h4{
    text-align: center;
    font-size: 13px; 
    font-weight: 700; 
    color: white;
}
.modal > .modal-inner > .header > button{
    background-color: #2A2A2A; 
    border: none;
    position: relative;
    left: 112px;
    padding: 1%;
    cursor: pointer;
}


.modal > .modal-inner > .body {
    width: 100%;
}
.brand-area{background-color: #1F2328;}
.brand-area-inner,
.info-agress-cont{
    width: 100%;
    padding: 0 8%;
}
.brand-area > .brand-area-inner > a > img{position: relative; margin: 14px 0 10px 0;}
.brand-area > .brand-area-inner > p > button{
    background-color: #16181B; 
    height: 28px; 
    border: 2px solid #77797A; 
    border-radius: 6px;
    margin-bottom: 14px;
}
.brand-area > .brand-area-inner > p > button > a{
    color: white; 
    font-size: 12px; 
    padding: 6px 8px; 
}
.brand-area > .brand-area-inner > p > button > a::after{
    content: "";
    background: url(../asset/img/icon/right-arrow-gray-icon.svg) no-repeat center center;
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-left: 8px;
}

.email-box{
    width: 100%;
    height: 70px;  
    margin-top: 20px;
}
.email-box > div{
    width: 90%;
    height: 100%; 
    padding: 0 8%;
    background-color: #1F2328; 
    border: 2px solid #202325;
    border-radius: 10px;
}
.email-box > div > span{
    color: #77797A; 
    font-size: 18px; 
    margin: 18px 0 0 14px;
    position: relative;
    top: 18px;
}
.info-agree{width: 300px; margin-top: 20px;}
h3{font-size: 13px;}
#agreetit{display: flex; align-items: center;}
#agreetit:nth-child(1){margin-bottom: 10px;}
#agreetit > span{color: white; font-size: 13px; margin-left: 10px; display: inline-block;}
.detail-agree-cont{ margin-top: 10px;}
.detail-agree-cont > ul > li{
    color: white; 
    font-size: 10px; 
    margin-left: 12px;
    padding: 1% 0;
    display: flex;
    align-items: center;
    position: relative;
}
.detail-agree-cont > ul > li::before{
    content: " ";
    background: url(../asset/img/icon/check-gray-icon.svg) no-repeat center center;
    width: 20px; 
    height: 20px;
    display: inline-block;
    margin-right: 6px;
}
.detail-agree-cont > ul > li::after{
    content: "자세히";
    border-bottom: 1px solid #707070;
    font-size: 8px;
    color: #707070;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 0;
}

.chooes-agree-cont{width: 100%; margin-top: 10px;}
/* .chooes-agree-cont > ul > li{display: flex; align-items: center;}
.chooes-agree-cont > ul > li > p{color: white; font-size: 13px; margin-bottom: 3px;}
.chooes-agree-cont > ul > li > p::before{
    content: "";
    width: 18px;
    height: 18px;
    border: 2px solid white;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: 6px;
    margin-right: 6px;
}
.btn-group{margin-left: 28px;}
.btn-group > button{height: 24px; margin-right: 10px; border: none; background-color: white; border-radius: 12px;}
.btn-group > button > span{color: black; font-size: 12px; padding:0 10px; font-weight: 600;}

.next-btn-container{position: relative; top: 0; width: 100%; height: 56px; margin: 0 auto;}
.next-btn{
    cursor: pointer; 
    background-color: #FCEC4E; 
    width: 100%; 
    height: 100%; 
    border: none; 
    border-radius: 28px;
    margin-top: 14px;
}
.next-btn > a{color: black; font-size: 18px; font-weight: 600;}

.btn:hover {
    color: #F4B956;
}
.modal-container .donation-btn-area .modal {
    top: 150px;
    border: 1px solid red;
} */












